BoooooJu.Web.Core/Service References/BoooooJuService/UserOperation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserOperation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57315/UserOperation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57315/UserOperation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57315/UserOperation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.Dal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISetUser_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="ISetUser_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccount" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByCellPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCellPhone" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByCellPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCellPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISetUser">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetUser/InsertUser" message="tns:ISetUser_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetUser/InsertUserResponse" message="tns:ISetUser_InsertUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGetUser">
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUserById" message="tns:IGetUser_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUserByIdResponse" message="tns:IGetUser_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUserByAccount" message="tns:IGetUser_GetUserByAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUserByAccountResponse" message="tns:IGetUser_GetUserByAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByCellPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUserByCellPhone" message="tns:IGetUser_GetUserByCellPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUserByCellPhoneResponse" message="tns:IGetUser_GetUserByCellPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUsers" message="tns:IGetUser_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUsersResponse" message="tns:IGetUser_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InUserPoint" type="tns:ISetUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/ISetUser/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutUserPoint" type="tns:IGetUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUserByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByCellPhone">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUserByCellPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserOperation">
    <wsdl:port name="InUserPoint" binding="tns:InUserPoint">
      <soap:address location="http://localhost:57315/UserOperation.svc" />
    </wsdl:port>
    <wsdl:port name="OutUserPoint" binding="tns:OutUserPoint">
      <soap:address location="http://localhost:57315/UserOperation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>