BoooooJu.Web.Core/Service References/GetUserService/GetUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetUser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57315/GetUser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57315/GetUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57315/GetUser.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:57315/GetUser.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.Dal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetUser_GetDataByPrimaryKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByPrimaryKey" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetDataByPrimaryKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByPrimaryKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetDataByUniqueKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByUniqueKey" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetDataByUniqueKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByUniqueKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetDatasBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasBy" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetDatasBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasByResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccount" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByCellPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCellPhone" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUserByCellPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCellPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IGetUser_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:SignByAccountName" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignByAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByCellPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SignByCellPhone" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByCellPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignByCellPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByEmaiAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SignByEmaiAddress" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByEmaiAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignByEmaiAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByOpenId_InputMessage">
    <wsdl:part name="parameters" element="tns:SignByOpenId" />
  </wsdl:message>
  <wsdl:message name="IGetUser_SignByOpenId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignByOpenIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetUser">
    <wsdl:operation name="GetDataByPrimaryKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseGetDataOf_User/GetDataByPrimaryKey" message="tns:IGetUser_GetDataByPrimaryKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseGetDataOf_User/GetDataByPrimaryKeyResponse" message="tns:IGetUser_GetDataByPrimaryKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByUniqueKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseGetDataOf_User/GetDataByUniqueKey" message="tns:IGetUser_GetDataByUniqueKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseGetDataOf_User/GetDataByUniqueKeyResponse" message="tns:IGetUser_GetDataByUniqueKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatasBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseGetDataOf_User/GetDatasBy" message="tns:IGetUser_GetDatasBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseGetDataOf_User/GetDatasByResponse" message="tns:IGetUser_GetDatasBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUserById" message="tns:IGetUser_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUserByIdResponse" message="tns:IGetUser_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUserByAccount" message="tns:IGetUser_GetUserByAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUserByAccountResponse" message="tns:IGetUser_GetUserByAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByCellPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUserByCellPhone" message="tns:IGetUser_GetUserByCellPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUserByCellPhoneResponse" message="tns:IGetUser_GetUserByCellPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/GetUsers" message="tns:IGetUser_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/GetUsersResponse" message="tns:IGetUser_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignByAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/SignByAccountName" message="tns:IGetUser_SignByAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/SignByAccountNameResponse" message="tns:IGetUser_SignByAccountName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignByCellPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/SignByCellPhone" message="tns:IGetUser_SignByCellPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/SignByCellPhoneResponse" message="tns:IGetUser_SignByCellPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignByEmaiAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/SignByEmaiAddress" message="tns:IGetUser_SignByEmaiAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/SignByEmaiAddressResponse" message="tns:IGetUser_SignByEmaiAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignByOpenId">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetUser/SignByOpenId" message="tns:IGetUser_SignByOpenId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetUser/SignByOpenIdResponse" message="tns:IGetUser_SignByOpenId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InUserPoint" type="tns:IGetUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataByPrimaryKey">
      <soap:operation soapAction="http://tempuri.org/IBaseGetDataOf_User/GetDataByPrimaryKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByUniqueKey">
      <soap:operation soapAction="http://tempuri.org/IBaseGetDataOf_User/GetDataByUniqueKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasBy">
      <soap:operation soapAction="http://tempuri.org/IBaseGetDataOf_User/GetDatasBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUserByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByCellPhone">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUserByCellPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IGetUser/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignByAccountName">
      <soap:operation soapAction="http://tempuri.org/IGetUser/SignByAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignByCellPhone">
      <soap:operation soapAction="http://tempuri.org/IGetUser/SignByCellPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignByEmaiAddress">
      <soap:operation soapAction="http://tempuri.org/IGetUser/SignByEmaiAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignByOpenId">
      <soap:operation soapAction="http://tempuri.org/IGetUser/SignByOpenId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUser">
    <wsdl:port name="InUserPoint" binding="tns:InUserPoint">
      <soap:address location="http://localhost:57315/GetUser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>