BoooooJu.Web/BoooooJu.Web.Core/Service References/DiancanService/BoooooJu.Service.DPModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DC_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_User" nillable="true" type="tns:DC_User" />
  <xs:complexType name="ArrayOfDC_User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_User" nillable="true" type="tns:DC_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_User" nillable="true" type="tns:ArrayOfDC_User" />
  <xs:complexType name="DC_Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Order" nillable="true" type="tns:DC_Order" />
  <xs:complexType name="ArrayOfDC_Food">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Food" nillable="true" type="tns:DC_Food" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Food" nillable="true" type="tns:ArrayOfDC_Food" />
  <xs:complexType name="DC_Food">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Food" nillable="true" type="tns:DC_Food" />
</xs:schema>