BoooooJu.Web/BoooooJu.Web.Core/Service References/DiancanService/BoooooJu.Service.Core.QueryParameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter.Base" />
  <xs:complexType name="Page">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter.Base" minOccurs="0" name="Sort" type="q1:Sort" />
      <xs:element minOccurs="0" name="TotalCounts" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Page" nillable="true" type="tns:Page" />
</xs:schema>