BoooooJu.Web/BoooooJu.Web.Core/Service References/AccountService/BoooooJu.Service.DPModels.OBModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels.OBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels.OBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNameValidate" type="xs:boolean" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhoneValidate" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddressValidate" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenIdValidate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pswd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PswdSalt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PswdType" type="xs:int" />
      <xs:element minOccurs="0" name="Role" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
</xs:schema>