BoooooJu.Web/BoooooJu.Web.Core/Service References/AccountService/System.Collections.Generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels.OBModels" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KeyValuePairOfPageArrayOfUserInfoBbJ4fHv3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Page" Namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter" />
          <GenericParameter Name="ArrayOfUserInfo" Namespace="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels.OBModels" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BoooooJu.Service.Core.QueryParameter" name="key" nillable="true" type="q1:Page" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BoooooJu.Service.DPModels.OBModels" name="value" nillable="true" type="q2:ArrayOfUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfPageArrayOfUserInfoBbJ4fHv3" nillable="true" type="tns:KeyValuePairOfPageArrayOfUserInfoBbJ4fHv3" />
</xs:schema>